.feedback-wrapper {
	background-image: url(http://cdn.camscon.kr/front-assets/user-feedback/bg-img.jpg);
	max-height:1152px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin:0px -15px;
}

/*Feedback Form*/
.feedback-wrapper .form-wrapper {
	max-width:297px;
	margin:25px auto;
	background-color:rgba(255,255,255,0.75);
}

.feedback-wrapper .failure-message {
	font-size:9px;
	color:#fff;
	background-color:#f56445;
	padding:4px 8px;
}

.feedback-wrapper .form {
	padding:33px 14px 25px 14px;
}

.feedback-wrapper h1 {
	font-size:15px;
	font-weight:700;
	text-align: center;
	margin:0px 0px 25px 0px;
	line-height: 1.4;
}

.feedback-wrapper h1 strong {
	color:#f26645;
	text-decoration: underline;
}

.feedback-wrapper textarea {
	background-color: rgba(0,0,0,0);
	width:100%;
	max-width: 100%;
	min-height:127px;
	max-height:812px;
}

.feedback-wrapper .submit-bar {
	margin-top:7px;
	margin-bottom:19px;
	text-align: center;
}

.feedback-wrapper button {
	font-weight: 700;
}

.feedback-wrapper .form-wrapper p {
	margin-bottom:0px;
	text-align: center;
	font-size:13px;
}

/*Success Message*/
.feedback-wrapper .success-wrapper {
	max-width:307px;
	margin:119px auto;
	border-top:5px solid #66c4b4;
	background-color:rgba(255,255,255,0.75);
}

.feedback-wrapper .success-wrapper .success-message {
	border:1px solid #eaeaec;
	border-top:0;
	padding:26px 7px 8px 7px;
	text-align: center;
}

.feedback-wrapper .success-wrapper .success-message p {
	font-size:12px;
	margin-bottom:14px;
}

.feedback-wrapper .success-wrapper .success-message a {
	font-size: 11px;
	padding: 1px 9px;
	font-weight:700;
}

@media (min-width:768px) {
	.feedback-wrapper {
		margin:0px;
	}

	/*Feedback Form*/
	.feedback-wrapper .form-wrapper {
		max-width:621px;
		margin:122px auto;
	}

	.feedback-wrapper .failure-message {
		font-size:13px;
		padding:6px 0px;
		text-align: center;
	}

	.feedback-wrapper .form {
		padding:60px 62px 50px 62px;
	}

	.feedback-wrapper h1 {
		font-size:21px;
		margin-bottom:36px;
	}

	.feedback-wrapper textarea {
		min-height:240px;
		max-height:492px;
	}

	.feedback-wrapper .submit-bar {
		margin-top:15px;
		margin-bottom:25px;
	}

	.feedback-wrapper .form-wrapper p {
		font-size:14px;
		max-width:295px;
		margin:0px auto;
	}

	/*Success Message*/
	.feedback-wrapper .success-wrapper {
		max-width:587px;
		margin:298px auto;
		border-top:8px solid #66c4b4;
	}

	.feedback-wrapper .success-wrapper .success-message {
		padding:47px 92px 17px 92px;
	}

	.feedback-wrapper .success-wrapper .success-message p {
		font-size:18px;
		margin-bottom:18px;
	}

	.feedback-wrapper .success-wrapper .success-message a {
		font-size: 15px;
		padding: 1px 13px;
	}
}

@media (min-width:992px) {
	/*Feedback Form*/
	.feedback-wrapper .form-wrapper {
		max-width: 726px;
		margin:165px auto;
	}

	.feedback-wrapper .failure-message {
		font-size:14px;
		padding:7px 0px;
	}

	.feedback-wrapper .form {
		padding:52px 28px 34px 28px;
	}

	.feedback-wrapper h1 {
		font-size:24px;
		margin-bottom:45px;
	}

	.feedback-wrapper h1 br {
		display: none;
	}

	.feedback-wrapper textarea {
		min-height:289px;
		max-height:650px;
	}

	.feedback-wrapper .submit-bar {
		margin-bottom:0px;
	}

	.feedback-wrapper .submit-bar button {
		float:right;
	}

	.feedback-wrapper .form-wrapper p {
		max-width:425px;
		margin-top:26px;
	}

	/*Success Message*/
	.feedback-wrapper .success-wrapper {
		max-width:717px;
		margin:313px auto;
	}

	.feedback-wrapper .success-wrapper .success-message {
		padding:45px 122px 17px 122px;
	}

	.feedback-wrapper .success-wrapper .success-message p {
		font-size:21px;
		margin-bottom:19px;
	}

	.feedback-wrapper .success-wrapper .success-message a {
		font-size: 15px;
		padding: 1px 19px;
	}
}

@media (min-width:1200px) {
	/*Feedback Form*/
	.feedback-wrapper .form-wrapper {
		max-width: 691px;
		margin:187px auto;
	}

	.feedback-wrapper .form {
		padding:48px 30px 31px 30px;
	}

	.feedback-wrapper .failure-message {
		padding:8px 0px;
	}

	.feedback-wrapper h1 {
		font-size:23px;
		margin-bottom:43px;
	}

	.feedback-wrapper textarea {
		min-height:275px;
		max-height:459px;
	}

	.feedback-wrapper .form-wrapper p {
		max-width:409px;
	}

	/*Success Message*/
	.feedback-wrapper .success-wrapper {
		max-width:748px;
		margin:340px auto;
	}

	.feedback-wrapper .success-wrapper .success-message {
		padding:51px 127px 23px 127px;
	}

	.feedback-wrapper .success-wrapper .success-message p {
		margin-bottom:16px;
	}

	.feedback-wrapper .success-wrapper .success-message a {
		font-size: 13px;
		padding: 1px 14px;
	}
}