/*Site layout
----------------------------------------------------------------------------*/
.layout-header .top-row {
	padding: 18px 0px 14px 0px;
	border-bottom: 1px solid #7f7f7f;
}

.layout-header .site-logo {
	float: left;
}

.layout-header .mobile-nav-btn {
	display: none;
}

.layout-header .site-nav {
	float: left;
}

.layout-header .site-nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px 0px 0px 54px;
}

.layout-header .site-nav ul li {
	float: left;
}

.layout-header .site-nav ul li a {
	color: #333;
	text-decoration: none;
	display: block;
	padding:12px 15px;
}

.layout-header .site-nav ul li a.active {
	color:#56d8d1;
}

.layout-header .site-nav ul li a:hover {
	background-color: #56d8d1;
	color:#fff;
}

.layout-header .site-user {
	float: right;
}

.layout-header .site-user .user-profile {
	height:44px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size:contain;
	padding:0px 0px 0px 44px;
	min-width:160px;
}

.layout-header .site-user .user-nickname {
	color: #20cfc5;
	padding:12px 15px;
}

.layout-header .site-user .user-nickname a {
	color: #20cfc5;
	text-decoration: none;
	outline:none;
}

.layout-header .site-user a.login-btn {
	text-decoration: none;
	padding: 12px 0px;
	display: block;
}

.layout-header .site-search {
	float: right;
	margin-right:43px;
	width:100%;
	max-width:342px;
	display: none;
}

.layout-header .site-search input[type="text"] {
	padding: 10px 10px 10px 49px;
	width:100%;
	background-image: url('icon_search.png');
	background-repeat: no-repeat;
	background-position-x: 12px;
	background-position-y: 50%;
	border:1px solid #ddd;
	outline: none;
}

.layout-header .bottom-row {
	padding: 0px;
	border-bottom: 1px solid #7f7f7f;
}

.layout-header .mobile-cat-btn, 
.layout-header .mobile-hot-btn, 
.layout-header .mobile-new-btn {
	display: none;
}

.layout-header .category-nav {
	padding: 6px 0px;
	position:relative;
}

.layout-header .category-list-wrapper > ul {
	list-style-type: none;
	padding:0px;
	margin:0px;
}

.layout-header .category-list-wrapper > ul > li {
	float:left;
	width:12.5%;
	padding: 13px 0px 13px 0px;
}

.layout-header .category-list-wrapper > ul > li > a {
	display: block;
	border-left: 1px solid #7f7f7f;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.layout-header .category-list-wrapper > ul > li:last-child {
	padding: 0px;
	text-align: right;
}

.layout-header .category-list-wrapper > ul > li:last-child a.post-btn {
	font-size: 18px;
	vertical-align: bottom;
	line-height: 1;
	display: inline-block;
	border-left: 0px;
	background-color: #56d8d1;
	color:#fff;
	padding: 13px 20px;
}

.layout-header .category-list-wrapper > ul > li:last-child a.post-btn span {
	font-size: 20px;
	vertical-align: bottom;
}

.layout-header .category-nav .sub-menu {
	visibility:hidden;
	opacity:0.0;
	width: 100%;
	position: absolute;
	top: 53px;
	background-color: rgba(250,250,250,0.9);
	z-index: 100;
	list-style-type: none;
	padding:0px;
	margin:0px;

	-webkit-transition: opacity 250ms ease-out;
    -moz-transition: opacity 250ms ease-out;
    -o-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out;
}

.layout-header .category-nav .sub-menu.campus-sub-menu {
	left: 0px;
	top: 59px;
}

.layout-header .category-nav .sub-menu.blog-sub-menu {
	left: 0px;
	top: 59px;
}

.layout-header .category-nav .sub-menu.fashionweek-sub-menu {
	width:180px;
}

.layout-header .category-nav .sub-menu.festival-sub-menu {
	width:215px;
}

.layout-header .category-nav .gender-menu, 
.layout-header .category-nav .street-menu,
.layout-header .category-nav .fashionweek-menu, 
.layout-header .category-nav .festival-menu {
	position: relative;
}

.layout-header .category-nav .blog-menu .inspirer-register-menu {
	background-color:#64ccc3;
	text-align: center;

	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	-o-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
}

.layout-header .category-nav .blog-menu .inspirer-register-menu:hover {
	background-color:#a3e0db;
}

.layout-header .category-nav .blog-menu .inspirer-register-menu a, 
.layout-header .category-nav .blog-menu .inspirer-register-menu a:hover {
	color:#fff;
}

.layout-header .category-nav .gender-menu > a {
	border-right: 1px solid #7f7f7f;
}

.layout-header .category-nav .sub-menu.active {
	visibility:visible;
	opacity:1.0;
}

.layout-header .category-nav .sub-menu li {
	padding:0px;
}

.layout-header .category-nav .sub-menu li.mobile-all {
	display:none;
}

.layout-header .category-nav .sub-menu li a {
	padding: 5px 10px;
	display: block;
	color: #707070;
	font-weight: 700;
	text-decoration: none;

	/*Truncate with Ellipsis*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.layout-header .category-nav .sub-menu li a:hover {
	color:#56d8d1;
}

.layout-header .close-btn {
	display: none;
}

.misc-links-mobile {
	padding:0px 15px;
	margin-top:25px;
}

.misc-links-mobile a {
	font-size: 13px;
	color: #6f6f71 !important;
}

.misc-links-mobile span:after {
	content:'|';
	margin:0px 3px;
	color: #6f6f71;
}

.misc-links-mobile span:last-child:after {
	content:'';
}

.layout-body {
	padding:0px;
}

.layout-footer {
	position: fixed;
	bottom:0px;
	width:100%;
}

.layout-footer .container {
	padding:0px;
}

.layout-footer .top-btn-wrapper {
	position:relative;
	min-height:35px;
}

.scroll-top-btn {	
	width:89px;
	position: absolute;
	right:0px;
	line-height: 34px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 2px;
	color: #353533;
	background-color:#fff;
	border: 1px solid #dddcdb;
	border-bottom:0;
	opacity: 0.75;
	cursor:pointer;

	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
}

.scroll-top-btn span {
	margin-left:10px;
}

.scroll-top-btn:hover {
	opacity:1.0;
}

.layout-footer .footer-content {
	font-weight: 700;
	font-size:13px;
	color: #353533;
	background-color:#fff;
	border: 1px solid #dddcdb;
	border-bottom:0;
	opacity: 0.75;
	padding:7px;

	display: none;
}

.layout-footer .footer-content a {
	color:#565656;
	text-decoration: none;
	margin:0px 19px;
}

.layout-footer .footer-content span:after {
	content:'|';
	color:#959595;
}

.layout-footer .footer-content span:last-child:after {
	content:'';
}

.layout-footer .footer-content a:hover {
	color:#202020;
}

@media (min-width:768px) {
	.scroll-top-btn {
	}

	.misc-links-mobile {
		display: none;
	}

	.layout-footer .footer-content {
		display: block;
	}
}

@media (min-width:992px) {
	.scroll-top-btn {
	}
}

@media (min-width:1200px) {
	.scroll-top-btn {
	}
}


@media (max-width:767px) {
	.layout-header .top-row {
		padding:0px 15px;
		border-bottom: 1px solid #7f7f7f;
	}

	.layout-header .site-logo {
		float: left;
	}

	.layout-header .site-logo img {
		width:130px;
		height:auto;
		margin:15px 0px;
	}

	.layout-header .mobile-nav-btn {
		/*Temp*/
		display: none;

		height:52px;
		width:52px;
		float:right;
		padding: 13px 15px 15px 15px;
	}

	.layout-header .mobile-nav-btn .bar {
		height:3px;
		background-color: #333;
		display: block;
		margin-top:5px;
	}

	.layout-header .site-nav {
		display:none;
	}

	.layout-header .site-user {
		margin-top:4px;
	}

	.layout-header .site-user .user-profile {
		height: 26px;
		padding: 0px 0px 0px 26px;
		min-width: initial;
		max-width: 150px;
		margin-top: 8px;
	}

	.layout-header .site-user .user-nickname {
		padding:3px 4px;
	}

	.layout-header .bottom-row {
		position: relative;
	}

	.layout-header .category-nav .category-list-wrapper {
		visibility: hidden;
		opacity: 0.0;
		position:absolute;
		z-index: 999999;
		background-color: rgba(255,255,255,0.8);
		width:100%;
		left: 0px;
		top:53px;

		-webkit-transition: opacity 250ms ease-out;
	    -moz-transition: opacity 250ms ease-out;
	    -o-transition: opacity 250ms ease-out;
	    transition: opacity 250ms ease-out;
	}

	.layout-header .category-list-wrapper.active {
		visibility: visible;
		opacity: 1.0;
	}

	.layout-header .category-list-wrapper > ul > li {
		float:none;
		width:100%;
	}

	.layout-header .mobile-cat-btn {
		display: inline;
	}

	.layout-header .category-nav, 
	.layout-header .mobile-hot-btn, 
	.layout-header .mobile-new-btn {
		display:block;
		/* padding:16px 0px; */
		padding:16px 0px;
	}

	.layout-header .mobile-hot-btn a.active, 
	.layout-header .mobile-new-btn a.active {
		border-bottom: 2px solid #56d8d1;
	}

	.layout-header .category-nav {
		position: static;
		float:left;
		margin-left: 15px;
	}

	.layout-header .mobile-hot-btn, 
	.layout-header .mobile-new-btn {
		float:right;
	}

	.layout-header .mobile-new-btn {
		margin:0px 15px 0px 30px;
	}

	.layout-header .category-nav a, 
	.layout-header .mobile-hot-btn a, 
	.layout-header .mobile-new-btn a {
		color:#333;
		text-decoration: none;
	}

	.layout-header .category-list-wrapper > ul {
		padding:0px 15px;
	}

	.layout-header .category-list-wrapper > ul > li {
		padding:15px 0px;
		border-bottom:1px dashed #777;
	}

	.layout-header .category-list-wrapper > ul > li > a {
		display: inline;
		border-left: 0;
		text-align: left;
		text-decoration: none;
		color: #000;
	}

	.layout-header .category-list-wrapper > ul > li > a.deactivated {
		color:#888 !important;
	}

	.layout-header .category-list-wrapper > ul > li > a > span {
		display: none;
	}

	.layout-header .category-list-wrapper > ul > li:last-child {
		display: none;
	}

	.layout-header .category-nav .gender-menu {
		border-bottom:0;
	}

	.layout-header .category-nav .gender-menu > a {
		border-right:0;
	}

	/*Mobile nav 3rd depth*/
	.layout-header .category-list-wrapper > ul > li.active {
		position: fixed;
		top: 0px;
		left: 0px;
		border-bottom: 1px solid #333;
		background-color: rgba(255,255,255,0.9);
		padding: 14px 15px;
		z-index: 1;
	}

	.layout-header .category-list-wrapper > ul > li.active > a {
		font-size: 18px;
		font-weight: 700;
	}

	.layout-header .category-list-wrapper > ul > li.active span.close-btn {
		display: inline;
		float:right;
		margin-top: 4px;
	}

	.layout-header .category-list-wrapper > ul > li.active ul.sub-menu {
		visibility: visible;
		opacity: 1.0;
		width:100%;
		top: 54px;
		left:0px;
		overflow-y: scroll;
	}

	.layout-header .category-list-wrapper > ul > li.active ul.sub-menu li.mobile-all {
		display: block;
	}

	.layout-header .category-list-wrapper > ul > li.active ul.sub-menu li a {
		padding:10px 15px;
	}

	/*Body*/
	.layout-body {
		padding:0px 15px;
	}
	
}/*mobile*/

@media (min-width:768px) and (max-width:991px) {
	.layout-header .category-list-wrapper > ul > li > a:first-child {
		border-left:0;
	}

	.layout-header .category-list-wrapper > ul > li:last-child {
		display: none;
	}

	.layout-header .category-nav .gender-menu > a {
		border-right: 0;
	}

	.layout-header .category-list-wrapper > ul > li {
		width:14.28%;
	}
}/*tablet*/


/*List View
----------------------------------------------------------------------------*/
.snap-list {
	padding-top: 30px;
	padding-bottom: 68px;
	margin:0px -15px;
}

.snap-list.loading {
	background-image:url('http://cdn.camscon.kr/front-assets/list-view/loading.gif');
	background-position: 50% 100%;
	background-repeat: no-repeat;
}

.snap-list .snap-wrapper {
	margin-bottom:30px;
	padding:0px 15px;
	width:33.33%;
}

.snap-list .snap-inner {
	border: 1px solid #c7c7c7;
	/*display: table;*/
	margin: 0px auto;
}

.snap-wrapper .snap {
	position: relative;
	text-align: center;
}

.snap-wrapper .snap img {
	max-width: 100%;
	height:auto;
}

.snap-wrapper .like-btn {
	position:absolute;
	bottom:10px;
	left:10px;
	border:0;
	background-color:#000;
	color:#fff;
	padding: 18px;
	font-weight: 700;
}

.snap-wrapper .like-btn.liked {
	color:#56d8d1;
}

.snap-wrapper .likes {
	position:absolute;
	bottom:10px;
	left: 81px;
	padding: 18px;
	background-color: #fff;
	font-weight: 700;
}

.snap-wrapper .fb-share-btn {
	position: absolute;
	bottom:10px;
	right:10px;
	border: 0;
	background-color:#5696d8;
	color: #fff;
	font-size: 37px;
	padding: 2px 22px;
	font-weight: 700;
}

@media (max-width:767px) {
	.snap-list {
		padding-top: 15px;
	}

	.snap-list .snap-wrapper {
		width:100%;
		margin-bottom:15px;
	}

	.snap-wrapper .like-btn {
		padding: 14px;
	}

	.snap-wrapper .likes {
		padding: 14px;
		left:75px;
	}

	.snap-wrapper .fb-share-btn {
		font-size: 31px;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.snap-wrapper .like-btn {
		padding: 9px;
	}

	.snap-wrapper .likes {
		padding: 9px;
		left:62px;
	}

	.snap-wrapper .fb-share-btn {
		font-size: 24px;
		padding: 2px 16px;
	}
}

.snap-wrapper .meta-container {
	padding: 10px;
}

.snap-wrapper .author-profile {
	width: 50px;
	height: auto;
	border-radius: 50%;
	float:left;
}

.snap-wrapper .subject-meta {
	margin-left:60px;
	margin-top: 5px;
}

.snap-wrapper .subject-meta .meta-category {
	margin-left: 5px;
	border-left: 2px solid #000;
	padding-left: 5px;
}

.snap-wrapper .author-meta {
	margin-left:60px;
	color: #959595;
}


/*Profile View
----------------------------------------------------------------------------*/
.profile-wrapper .profile-cover img {
	max-width:100%;
	height:auto;
}

.profile-wrapper .profile-data {
	min-height:150px;
	padding-left:165px;
	background-repeat: no-repeat;
	background-size:150px 150px;
	background-position: 0px 0px;
	margin:15px 0px;
}

.profile-wrapper .profile-data .name {
	font-weight:700;
}

.profile-wrapper .profile-data .details p {
	margin-bottom:0px;
}

.profile-wrapper .profile-data .details a {
	color:#808080;
}

.profile-wrapper .profile-data .stats {
	text-align: right;
}

.profile-wrapper .profile-data .stats h3 {
	margin-top:0px;
}

.profile-wrapper .profile-data .stats h3 strong {
	color:#56d8d1;
}

.profile-wrapper .profile-filter-tabs {
	border-bottom:1px solid #000;
}

.profile-wrapper .profile-filter-tabs .tab {
	display: inline-block;
	border:1px solid #000;
	border-bottom:0;
	padding:8px 35px;
	cursor:pointer;
}

.profile-wrapper .profile-filter-tabs .tab:hover {
	color:#56d8d1;
}

.profile-wrapper .profile-filter-tabs .tab.active {
	background-color:#000;
	color:#fff;
}

.profile-wrapper .profile-filter-tabs .tab.my-collection {
	border-right:0;
}

@media (max-width:767px) {
	.profile-wrapper .profile-cover {
		display: none;
	}

	.profile-wrapper .profile-data {
		min-height:90px;
		padding-left:90px;
		background-size:80px;
	}

	.profile-wrapper .profile-data .details a {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.profile-wrapper .profile-data .stats {
		margin-top:25px;
	}

	.profile-wrapper .profile-filter-tabs .tab {
		padding:8px 0px;
		text-align: center;
		width:50%;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.profile-wrapper .profile-data .details a {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.profile-wrapper .profile-data .details a:last-child {
		display: inline;
	}
}


/*Primary slider
----------------------------------------------------------------------------*/
.primary-slider {
	width:100%;
	overflow-x:hidden;
	margin-top:25px;
}

.primary-slider .inner {
	position: relative;
}

.primary-slider .slide {
	float:left;
	width:100%;
}

.primary-slider .slide img {
	max-width:100%;
	height:auto;

	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
}

.primary-slider .slide img:hover {
	opacity:0.8;
}

@media (max-width:767px) {
	.primary-slider {
		display:none;
		margin-top:15px;
	}
}


/*Comment Module
----------------------------------------------------------------------------*/
.comments-section {
	margin-bottom:30px;
}

.comment-list-wrapper {
	border:1px solid #e0e0e0;
	margin-bottom:15px;
}

.comment-list {
	margin:0px;
	padding:0px;
	list-style-type: none;
}

/*Primary comment editor*/
.comments-login-btn {
	width:100%;
	font-size: 16px;
	font-weight: 700;
	display: none;
}

.login-false .comments-login-btn {
	display: block;
}

.primary-comment-editor .comment-editable {
	min-height: 52px;
}

.login-false .primary-comment-editor {
	display: none;
}

.posting .primary-comment-editor {
	opacity: 0.5;
}

/*Comment editables*/
.comment-editable {
	display:inline-block;
	width:100%;
	overflow: hidden;
}

.comment-editable[contenteditable="true"] {
	padding:5px;
	border: 1px solid #afafaf;
}

.comment-editable:focus {
	outline:none;
}

.primary-comment-editable {
	margin-bottom:5px;
}

.primary-comment-editor .primary-submit-btn {
	background-color:#1b1b1b;
	border: 0;
	color: #fff;
	width: 100%;
	padding: 7px 0px;
	font-size: 16px;
}

/*Comment list*/
.comment-list .comment-item {
	padding:5px;
	min-height:60px;
	border-bottom:1px dashed #e0e0e0;
}

.comment-list .comment-item:last-child {
	border-bottom:0;
}

.comment-list .comment-item .profile-image {
	float:left;
	width:50px;
	height:auto;
}

.comment-list .comment-item .comment-wrapper {
	padding-left:60px;
}

.comment-list .comment-item .author-nickname {
	font-weight:700;
}

.comment-list .comment-item .edit-btn, 
.comment-list .comment-item .delete-btn {
	float:right;
	margin-left:5px;
	font-size:13px;
	text-decoration: none;
}

.comment-list .comment-item .comment-body {
	font-size:13px;
	line-height:1.2;
}

.comment-list .comment-item .editable-controls {
	display: none;
	text-align: right;
}

.comment-list .comment-item.edit-mode .editable-controls {
	display: block;
}


/*Helper classes
----------------------------------------------------------------------------*/
.caret-right {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid;
	display: inline-block;
	height: 0;
	vertical-align: middle;
	width: 0;
}

.col-xs-hide {
	display: none;
}

@media (min-width:768px) {
	.col-xs-hide {
		display: initial;
	}
	.col-sm-hide {
		display: none;
	}
}

@media (min-width:992px) {
	.col-sm-hide {
		display: initial;
	}
	.col-md-hide {
		display: none;
	}
}

@media (min-width:1200px) {
	.col-md-hide {
		display: initial;
	}
	.col-lg-hide {
		display: none;
	}
}


/*Overrides
----------------------------------------------------------------------------*/
a.deactivated {
	color:#ddd !important;
	cursor:not-allowed !important;
	pointer-events:none;
}

a.deactivated:hover {
	background-color:initial !important;
	color:#ddd !important;
}

.btn {
	outline: none;
}

.btn:active {
	box-shadow: none;
	outline: none;
}


/*CSS for jquery.autoresize
----------------------------------------------------------------------------*/
.textarea-autoresize {
	overflow:hidden;
}

.textarea-autoresize-hidden {
	display:none;
	white-space: pre-wrap;
	word-wrap: break-word;
	min-height: 50px;
}