/*Site layout
----------------------------------------------------------------------------*/
.layout-header .top-row {
	padding: 18px 0px 14px 0px;
	border-bottom: 1px solid #7f7f7f;
}

.layout-header .site-logo {
	float: left;
}

.layout-header .site-nav {
	float: left;
}

.layout-header .site-nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px 0px 0px 54px;
}

.layout-header .site-nav ul li {
	float: left;
}

.layout-header .site-nav ul li a {
	color: #333;
	text-decoration: none;
	display: block;
	padding:12px 15px;
}

.layout-header .site-nav ul li a:hover {
	background-color: #56d8d1;
	color:#fff;
}

.layout-header .site-user {
	float: right;
}

.layout-header .site-user .user-profile {
	height:44px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size:contain;
	padding:0px 0px 0px 44px;
	min-width:160px;
}

.layout-header .site-user .user-nickname {
	color: #20cfc5;
	padding:12px 15px;
}

.layout-header .site-user .user-nickname a {
	color: #20cfc5;
	text-decoration: none;
	outline:none;
}

.layout-header .site-user a.login-btn {
	text-decoration: none;
	padding: 12px 0px;
	display: block;
}

.layout-header .site-search {
	float: right;
	margin-right:43px;
	width:100%;
	max-width:342px;
	display: none;
}

.layout-header .site-search input[type="text"] {
	padding: 10px 10px 10px 49px;
	width:100%;
	background-image: url('icon_search.png');
	background-repeat: no-repeat;
	background-position-x: 12px;
	background-position-y: 50%;
	border:1px solid #ddd;
	outline: none;
}

.layout-header .bottom-row {
	padding: 0px;
	border-bottom: 1px solid #7f7f7f;
}

.layout-header .category-nav {
	padding: 6px 0px;
	position:relative;
}

.layout-header .category-nav > ul {
	list-style-type: none;
	padding:0px;
	margin:0px;
}

.layout-header .category-nav > ul > li {
	float:left;
	width:12.5%;
	padding: 13px 0px 13px 0px;
}

.layout-header .category-nav > ul > li > a {
	display: block;
	border-left: 1px solid #7f7f7f;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.layout-header .category-nav > ul > li:last-child {
	padding: 0px;
	text-align: right;
}

.layout-header .category-nav > ul > li:last-child a.post-btn {
	font-size: 18px;
	vertical-align: bottom;
	line-height: 1;
	display: inline-block;
	border-left: 0px;
	background-color: #56d8d1;
	color:#fff;
	padding: 13px 20px;
}

.layout-header .category-nav > ul > li:last-child a.post-btn span {
	font-size: 20px;
	vertical-align: bottom;
}

.layout-header .category-nav .sub-menu {
	display:none;
	width: 100%;
	position: absolute;
	top: 53px;
	background-color: rgba(245,245,245,0.75);
	z-index: 100;
	list-style-type: none;
	padding:0px;
	margin:0px;
}

.layout-header .category-nav .sub-menu.campus-sub-menu {
	left: 0px;
	top: 59px;
}

.layout-header .category-nav .gender-menu {
	position: relative;
}

.layout-header .category-nav .sub-menu.active {
	display:block;
}

.layout-header .category-nav .sub-menu li {
	padding:0px;
}

.layout-header .category-nav .sub-menu li a {
	padding: 5px 10px;
	display: block;
	color: #707070;
	font-weight: 700;
	text-decoration: none;
}

.layout-header .category-nav .sub-menu li a:hover {
	color:#56d8d1;
}

.layout-body {
	padding:0px;
}


/*List View
----------------------------------------------------------------------------*/
.snap-list {
	padding-top: 30px;
	padding-bottom: 30px;
	margin:0px -15px;
}

.snap-list .snap-wrapper {
	margin-bottom:30px;
	padding:0px 15px;
	width:33.33%;
}

@media (max-width:767px) {
	.snap-list .snap-wrapper {
		width:100%;
	}
}

.snap-list .snap-inner {
	border: 1px solid #c7c7c7;
	/*display: table;*/
	margin: 0px auto;
}

.snap-wrapper .snap {
	position: relative;
}

.snap-wrapper .snap img {
	max-width: 100%;
	height:auto;
}

.snap-wrapper .like-btn {
	position:absolute;
	bottom:10px;
	left:10px;
	border:0;
	background-color:#000;
	color:#fff;
	padding: 18px;
	font-weight: 700;
}

.snap-wrapper .like-btn.liked {
	color:#56d8d1;
}

.snap-wrapper .likes {
	position:absolute;
	bottom:10px;
	left: 81px;
	padding: 18px;
	background-color: #fff;
	font-weight: 700;
}

.snap-wrapper .fb-share-btn {
	position: absolute;
	bottom:10px;
	right:10px;
	border: 0;
	background-color:#5696d8;
	color: #fff;
	font-size: 37px;
	padding: 2px 22px;
	font-weight: 700;
}

.snap-wrapper .meta-container {
	padding: 10px;
}

.snap-wrapper .author-profile {
	width: 50px;
	height: auto;
	border-radius: 50%;
	float:left;
}

.snap-wrapper .subject-meta {
	margin-left:60px;
	margin-top: 5px;
}

.snap-wrapper .subject-meta .meta-category {
	margin-left: 5px;
	border-left: 2px solid #000;
	padding-left: 5px;
}

.snap-wrapper .author-meta {
	margin-left:60px;
	color: #959595;
}


/*Single View
----------------------------------------------------------------------------*/
.breadcrumbs {
	color: #737373;
	margin: 20px 0px;
}

.breadcrumbs a {
	color:inherit;
	text-decoration: none;
}

.content-nav {
	color: #000;
	margin-bottom: 20px;
}

.content-nav a {
	color: inherit;
	text-decoration: none;
	background-repeat: no-repeat;
}

.content-nav .prev {
	float: left;
	background-position: 0% 50%;
	padding-left:15px;
}

.content-nav .next {
	float: right;
	background-position: 100% 50%;
	padding-right:15px;
}

.single-container .photo-col figure {
	display: table;
	margin:0px auto 30px auto;
	max-width: 100%;
}

.single-container .photo-col img {
	width: auto;
	max-width: 100%;
	height: auto;
}

.single-container .primary-photo {
	position: relative;
}

.single-container .primary-photo .like-btn {
	position:absolute;
	top:10px;
	left:10px;
	border:0;
	background-color:#000;
	color:#fff;
	padding: 18px;
	font-weight: 700;

}

.single-container .primary-photo .likes {
	position:absolute;
	top:10px;
	left: 83px;
	padding: 18px;
	background-color: #fff;
	font-weight: 700;
}

.single-container .primary-photo .fb-share-btn {
	position: absolute;
	top:71px;
	left:10px;
	border: 0;
	background-color:#5696d8;
	color: #fff;
	font-size: 37px;
	padding: 2px 22px;
	font-weight: 700;
}

.single-container .data-col {
	padding-top:40px;
}

.single-container .data-col .icon-section {
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}

.single-container .data-col .icon-section h3 {
	margin:0px;
}

.single-container .data-col .icon-section h3.name {
	font-weight: 700;
}

.single-container .data-col .icon-section h3.category {
	margin-top:5px;
}

.single-container .data-col .notes-section {
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	margin-bottom:20px;
}

.single-container .data-col .pin-list {
	margin-bottom: 20px;
}

.single-container .data-col .photographer-section {
	border: 1px solid #20cfc5;
	padding:15px;
}

.single-container .photographer-section .profile-img {
	width: auto;
	max-width: 100px;
	height: auto;
	float: left;
}

.single-container .photographer-section .profile-data {
	padding-left: 115px;
}

.single-container .photographer-section .profile-data .name {
	background-color: #000;
	color: #fff;
	padding: 8px 14px;
	display: inline-block;
	margin-bottom: 10px;
}

.single-container .photographer-section .profile-data p {
	margin-bottom:6px;
	line-height: 1;
}

.single-container .photographer-section .profile-data a {
	color: #666;
	word-break: break-all;
}

.single-container .photographer-section .profile-data a:hover {
	color: #000;
}


.single-container .pin-container .pin {
	opacity: 0;
	position: absolute;
	background-color: #20cfc5;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	padding: 4px;
	border-radius: 50%;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	margin-top: -10px;
	margin-left: -10px;
}

.single-container .pin-container .pin.highlight, 
.single-container .pinned:hover .pin-container .pin {
	opacity: 1;
}

.single-container .pin-list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.single-container .pin-list li {
	line-height: 1.3;
	cursor:pointer;
	margin-bottom:20px;
}

.single-container .pin-list li .data-wrapper {
	margin-left:25px;
}

.single-container .pin-list li .pin-numbering {
	background-color: #000;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	padding: 3px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 1;
	text-align: center;
	float:left;
}

.single-container .pin-list li .links {
	padding:0px;
	margin:0px;
	list-style-type: none;
}

.single-container .pin-list li .links li .link-name {
	color:#707070;
}

.single-container .pin-list li .links li a {
	color:#aaa;
	word-break:break-all;
}

.single-container .pin-list li.highlight .pin-numbering, 
.single-container .pin-list li:hover .pin-numbering {
	background-color: #20cfc5;
}

.single-container .pin-list li.highlight .meta, 
.single-container .pin-list li:hover .meta {
	color: #20cfc5;
}


/*Profile View
----------------------------------------------------------------------------*/
.profile-wrapper .profile-data {
	min-height:150px;
	padding-left:165px;
	background-repeat: no-repeat;
	background-size:150px 150px;
	background-position: 0px 0px;
	margin:15px 0px;
}

.profile-wrapper .profile-data .name {
	font-weight:700;
}

.profile-wrapper .profile-data .details p {
	margin-bottom:0px;
}

.profile-wrapper .profile-data .details a {
	color:#808080;
}

.profile-wrapper .profile-data .stats {
	text-align: right;
}

.profile-wrapper .profile-data .stats h3 {
	margin-top:0px;
}

.profile-wrapper .profile-data .stats h3 strong {
	color:#56d8d1;
}

.profile-wrapper .profile-filter-tabs {
	border-bottom:1px solid #000;
}

.profile-wrapper .profile-filter-tabs .tab {
	display: inline-block;
	border:1px solid #000;
	border-bottom:0;
	padding:8px 35px;
	cursor:pointer;
}

.profile-wrapper .profile-filter-tabs .tab:hover {
	color:#56d8d1;
}

.profile-wrapper .profile-filter-tabs .tab.active {
	background-color:#000;
	color:#fff;
}

.profile-wrapper .profile-filter-tabs .tab.my-collection {
	border-right:0;
}


/*Primary slider
----------------------------------------------------------------------------*/
.primary-slider {
	width:100%;
	overflow-x:hidden;
}

.primary-slider .inner {
	position: relative;
}

.primary-slider .slide {
	float:left;
}

.primary-slider .slide img {
	max-width:100%;
	height:auto;
}


/*Helper classes
----------------------------------------------------------------------------*/
.caret-right {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid;
	display: inline-block;
	height: 0;
	vertical-align: middle;
	width: 0;
}


/*Overrides
----------------------------------------------------------------------------*/
a.deactivated {
	color:#ddd !important;
	cursor:not-allowed !important;
	pointer-events:none;
}

a.deactivated:hover {
	background-color:initial !important;
	color:#ddd !important;
}

.btn {
	outline: none;
}

.btn:active {
	box-shadow: none;
	outline: none;
}